<feature name="GDApplication">
        <param name="android-package" value="com.good.gd.cordova.plugins.GDApplicationPlugin" />
    </feature>

    <feature name="GDStorage">
        <param name="android-package" value="com.good.gd.cordova.plugins.GDStoragePlugin" />
    </feature>

    <feature name="GDInterAppCommunication">
        <param name="android-package" value="com.good.gd.cordova.plugins.GDInterAppCommunicationPlugin" />
    </feature>

    <feature name="GDSocket">
        <param name="android-package" value="com.good.gd.cordova.plugins.GDSocketPlugin" />
    </feature>

    <feature name="GDSQLite">
        <param name="android-package" value="com.good.gd.cordova.plugins.database.GDSQLitePlugin" />
    </feature>

    <feature name="GDFileTransfer">
        <param name="android-package" value="com.good.gd.cordova.plugins.GDFileTransferPlugin" />
    </feature>

    <feature name="GDTokenHelper">
        <param name="android-package" value="com.good.gd.cordova.plugins.GDTokenHelperPlugin" />
    </feature>

    <feature name="GDPush">
        <param name="android-package" value="com.good.gd.cordova.plugins.push.GDPushPlugin" />
    </feature>

    <feature name="GDAppKinetics">
        <param name="android-package" value="com.good.gd.cordova.plugins.appkinetics.GDAppKineticsPlugin" />
    </feature>

    <feature name="GDHttpRequest">
        <param name="android-package" value="com.good.gd.cordova.plugins.GDHttpRequestPlugin" />
    </feature>
    
    <feature name="GDXMLHttpRequest">
        <param name="android-package" value="com.good.gd.cordova.plugins.GDXmlHttpRequestPlugin" />
    </feature>
    
    <feature name="GDSpecificPolicies">
        <param name="android-package" value="com.good.gd.cordova.plugins.policy.GDSpecificPoliciesPlugin" />
    </feature>
    
    <feature name="GDServerSideServices">
        <param name="android-package" value="com.good.gd.cordova.plugins.GDServerSideServicesPlugin" />
    </feature>
